H1,h2{
    color:#fDEF42;
    background-color: #00853F;
    text-align: center;
    padding: 15px;
     box-shadow: 0 0 150px rgba(227,27,35,0.8)
    
     
}

body{
    background-color: #f9f9f9;
}
p{
    color: #222222;
    background-color: #fDEF42;
    margin: 20px auto;
    max-width: 900px;
    border-radius: 10px;
    padding:20px;
    line-height :1.6;
     box-shadow: 0 0 150px rgba(227,27,35,0.8)

}
video{
    border-radius: 30px;
    margin: 20px auto;
     box-shadow: 0 0 150px rgba(227,27,35,0.8)
}
